settings.json
in & out files/
exe files/
.vs/
QT creator projects/
Dinamica/
Vector/x64/
Vector/Vector.sln
Vector/Vector.vcxproj
Vector/Vector.vcxproj.filters
Vector/Vector.vcxproj.user
AIB/
Programare Dinamica/probleme/tempCodeRunnerFile.cpp
Polymorphism/x64/
Polymorphism/Polymorphism.sln
Polymorphism/Polymorphism.vcxproj
Polymorphism/Polymorphism.vcxproj.filters
Polymorphism/Polymorphism.vcxproj.user
C# projects/